<div class="showing_content_head_wrap">
{% if keyword != "" %}
  <div class="showing_content_from discription">Showing results for</div>
  <div class="showing_content_keyword title">{{ keyword }}</div>
  {% endif %}
</div>
