<div id="main" class="">
  <div class="row row-offcanvas row-offcanvas-left clearfix">
    <section class="section">
      <img class="" data-bs-toggle="modal" data-bs-target="#searchModal" src="/themes/custom/sony_alphauniverse/images/icons-search.png" class="w-75">
			{{ custom_form }}
    </section>
  </div>
</div>
